body {
    padding-top: 3rem;
    color: #5a5a5a;
}

a.navbar-brand > small {
    font-size: 50%;
}

.rounded-action{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    display:inline-block;
    font-size: 18px;
    line-height: 26px;
    color:white;
    vertical-align: bottom;
}

.text-align-center {
    text-align: center;
}

.b-2 {
    border-width: 2px !important;
}

.show-match:hover {
    background: #dee2e6 ;
}

.text-agency {
    color:#fed136;
}