body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

a.navbar-brand > small {
    font-size: 50%;
}

.button-icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
}

.text-align-center {
    text-align: center;
}