{%  set participant1 = match.players.toArray()[0] is defined ? match.players[0].lastname : '-' %}
{%  set participant2 = match.players.toArray()[1] is defined ? match.players[1].lastname : '-' %}

{%  set score1 = match.score[0] is defined ? match.score[0] : '-' %}
{%  set score2 = match.score[1] is defined ? match.score[1] : '-' %}

<div class="row border b-2 rounded p-4 mt-3 show-match">
    <div class="col-sm-1 text-align-center"></div>
    <div class="col-sm text-left">{{ participant1 }}</div>
    <div class="col-sm text-align-center">{{ score1 }} / {{ score2 }}</div>
    <div class="col-sm text-right"> {{ participant2 }}</div>
</div>