{% extends "base.html.twig" %}
{% form_theme form 'form/custom-label.html.twig' %}

{% block title %}
    {{ 'tournament.create' | trans }}
{% endblock %}

{% block body %}
        <h2>{{ "tournament.form.title.new" | trans({ '%type%' : type | transEnum('type') | lower } ) }}</h2>
        {% include 'includes/tournamentForm.html.twig' %}
{% endblock %}